.piedePagina{
    display: flex;
    padding: 1%;
    justify-content: space-around;
    background-color: rgb(41, 38, 38);
    color: rgb(233, 229, 229);
    font-family: roboto-medium;
    font-size: 13px;
}
.redes_sociales{
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
}

.columnas_piedePagina a h4{
    color: rgb(226, 223, 223);
    font-family: roboto-medium;
    font-size: 13px;
    text-decoration: none;
}
.derechos h4{
    margin: 0;
    padding: 1.5% 0;
    background-color: rgb(41, 38, 38);
    color: rgb(226, 223, 223);
    font-family: roboto-medium;
    font-size: 15px;
    text-align: center;
}
