
@font-face{
    font-family: "roboto-medium";
    src: url("../Fonts/roboto/Roboto-Medium.woff");
}

.menuHorizontal{
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    width: 99%;
    justify-content: space-around;
    background-color: #0054AA;
    color: #FBFAFA;
    padding: 0.5%;
    margin: 0;
}
.links{
    background: none;
    border: none;
    cursor: pointer;
}
.menuHorizontal Link{
    color: #FBFAFA;
    font-family:roboto-medium;
    font-size: 18px;
    text-decoration-line: none
}

Link:hover{
    cursor: pointer;
    color: #FFB932;
}

Link:active{
    color: blue;
}

Link:visited{
    color: crimson;
}


.iniciarSesion{
    color: #FFB932;
    font-size: 24px;
    font-family: roboto-medium;
}
